.weather_details__page_container {
    width: 100%;
    background-image: url('../assets/big-city.jpg');
    height: 400px;
}

.weather_details {
    width: 100%;
    margin: 0px;
    text-align: center;
}

.weather_details__top {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    color: white;
}

.weather_details__top>div:nth-child(1){
    margin-top: 270px;
}

.weather_details__top > div:nth-child(2) {
    margin-top: 80px;
}

.weather_details__top>div:nth-child(3) {
    margin-top: 280px;
}

.weather_details__top> div>img {
    width: 650px;
}

.weather_details__location_icon svg{
    height: 3rem;
}

.weather_details_container_info {
    background-color: var(white);
    width: 100%;
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    display: flex;
    justify-content: space-around;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 50px;
}

.card_info_section:hover {
    transform-style: flat;
    cursor: pointer;
}